# Virtual environments
.venv/
venv/
env/

# Python cache
__pycache__/
*.pyc

# Large datasets
data/raw/
data/processed/

# Models
models/
*.pkl
*.joblib

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Misc
.DS_Store

#Flask session secret key
results/.flask_secret_key

#Generated classification results
results/exports/