<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <title>
        {% block title %}
        Email Security Control Center
        {% endblock %}
    </title>

    <link rel="stylesheet"
          href="{{ url_for('static',
          filename='css/style.css') }}">

</head>


<body>

<div class="sidebar">

    <div class="brand">

        <div class="brand-icon">
            ES
        </div>

        <div>
            <h2>Email Security</h2>
            <span>Control Center</span>
        </div>

    </div>


    <nav>

        <a href="{{ url_for('dashboard') }}"
           class="active">
            Dashboard
        </a>

        <a href="#">
            Message Analysis
        </a>

        <a href="#">
            Message Audit Logs
        </a>

        <a href="#">
            False Detection
        </a>

        <a href="#">
            Review Center
        </a>

        <a href="#">
            Quarantine
        </a>

        <a href="#">
            Model Performance
        </a>

        <a href="#">
            Reports
        </a>

    </nav>


    <div class="sidebar-footer">

        <span class="status-dot"></span>

        System Online

    </div>

</div>


<main class="main-content">

    {% block content %}
    {% endblock %}

</main>

</body>

</html>